.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 28px;
    margin-bottom: 62px;
    background-color: #fff;
    color: #000;
    position: relative;
    max-width: 240px;
    min-width: 240px;
    box-shadow: 0 2px 17px rgba(0, 0, 0, 0.4);
}

article {
    padding-top: 42px;
}

@media (min-width: 380px) {
    article {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }
}


.card img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card p {
    text-align: center;
    color: #8d8c8c;
    font-weight: bold;
    margin: 0;
    margin-top: 48px;
}

.card h4 {
    margin: 22px 0;
    font-size: 18px;
}

.card_tipos {
    display: flex;
    gap: 8px;
    margin-bottom: 14px;
    color: #fff;
    font-weight: bold;
}

.card span {
    font-size: 14px;
    font-weight: 800;
}

.badge {
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 12px;
}

/* Estilos específicos para cada tipo */
.badge.normal {
    background-color: #A8A77A;
}

.badge.lucha {
    background-color: #C22E28;
}

.badge.volador {
    background-color: #A98FF3;
}

.badge.planta {
    background-color: #7AC74C;
}

.badge.fuego {
    background-color: #EE8130;
}

.badge.agua {
    background-color: #6390F0;
}

.badge.eléctrico {
    background-color: #F7D02C;
}

.badge.hielo {
    background-color: #96D9D6;
}

.badge.veneno {
    background-color: #A33EA1;
}

.badge.tierra {
    background-color: #E2BF65;
}

.badge.psíquico {
    background-color: #F95587;
}

.badge.bicho {
    background-color: #A6B91A;
}

.badge.roca {
    background-color: #B6A136;
}

.badge.fantasma {
    background-color: #735797;
}

.badge.dragón {
    background-color: #6F35FC;
}

.badge.siniestro {
    background-color: #705746;
}

.badge.acero {
    background-color: #B7B7CE;
}

.badge.hada {
    background-color: #D685AD;
}

.loading-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}