.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
}

.link {
    display: flex;
    gap: 1rem;
    align-items: center;
}

h1 {
    text-align: center;
}

.header img {
    width: 50px;
    height: auto;
}