.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
}

.link {
    display: flex;
    gap: 2.4rem;
    align-items: center;
}

.link>div:first-child {
    display: flex;
    gap: 1rem;
}

h1 {
    text-align: center;
    color: rgba(20, 5, 20, 0.9);
}

.header img {
    width: 50px;
    height: auto;
}

a {
    transition: transform 0.2s ease-in-out;
}

a:hover {
    transform: scale(1.2);
}

/* SWITCH PARA DARK MODE  */

.switch-padre {
    display: flex;
    align-items: center;
    gap: 6px;
}

.switch {
    position: relative;
    width: 60px;
    height: 30px;
    display: inline-block;
    border-radius: 14px;
    background-color: #d5d5d5;
    cursor: pointer;
}

.switch::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #f2f2f2;
    transition: transform 0.4s, background-color 0.2s;
}

#checkbox:checked+.switch::after {
    transform: translateX(30px);
    background-color: #8c8c8c;
}

#checkbox:checked+.switch {
    background-color: #373737;
}