body {
    font-family: 'Onest', sans-serif;
    background-color: #efd1ff;
    margin: 0;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
}

img {
    max-width: 100%;
    width: 120px;
}

a {
    text-decoration: none;
    color: #fff;
}

